* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  background: #292929;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  color: #999;
}

#wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

#notes {
  max-width: 250px;
  background: #292929;
}

@media screen and (max-width: 500px) {
  #notes {
    position: absolute;
    z-index: 100;
    transform: translateX(-250px);
    transition: transform 250ms;
  }

  .shownotes #notes {
    transform: translateX(0px);
  }
}

#cover {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background: rgba(0, 0, 0, .5);
}

.shownotes #cover {
  display: block;
}

#note {
  background: #2d2d2d;
  overflow: scroll;
  flex-grow: 2;
  margin-bottom: 3em;
}

#notes {
  border-right: 1px solid black;
  height: 100%;
}

#note footer {
  z-index: 2;
  position: fixed;
  width: 100%;
  bottom: 0;
  background: black;
  height: 3em;
  display: flex;
  align-items: center;
}

#notes ul {
  list-style-type: none;
}

#notes a {
  display: block;
  cursor: pointer;
  color: white;
  font-size: .85rem;
  padding: 15px;
  border-bottom: 1px solid black;
  overflow: hidden;
  text-overflow: ellipsis;
}

#notes a.selected,
#notes a:hover {
  background-color: rgba(255, 255, 255, .1)
}

[type=search] {
  background: #1f1f1f;
  font-size: .85rem;
  border: 0px solid #666;
  border-radius: 15px;
  color: #CCC;
  margin: 5px 10px;
  padding: 5px;
  text-indent: 5px;
  flex-grow: 1;
}

#create-note {
  display: block;
  cursor: pointer;
  width: .75em;
  height: .75em;
  background: url(create.svg) no-repeat;
  background-size: 100%;
  opacity: .7;
  text-indent: -9999em;
  border: 0;
  color: #CCC;
  font-size: 2em;
  margin-right: 10px;
}

#create-note:hover {
   opacity: .8;
}

#header {
  display: flex;
  align-items: center;
}

#delete-note {
  display: block;
  cursor: pointer;
  width: .75em;
  height: .75em;
  background: url(delete.svg) no-repeat;
  background-size: 100%;
  opacity: .6;
  text-indent: -9999em;
  border: 0;
  color: #CCC;
  font-size: 2em;
  margin-right: 10px;
  z-index: 100;
}

.btn {
  display: block;
  cursor: pointer;
  width: .75em;
  height: .75em;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: .6;
  text-indent: -9999em;
  border: 0;
  color: #CCC;
  font-size: 2em;
  margin-right: 10px;
  z-index: 50;
}

#show-notes {
  background-image: url(home.svg);
  margin: 0 .5em;
}

#delete-note:hover {
  opacity: .8;
}

.CodeMirror {
  background: #2d2d2d !important;
  border: 0 !important;
}
