* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: #292929;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  color: #999;
}

#wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

#notes {
  width: 250px;
  flex-shrink: 0;
  background: #292929;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#editor {
  width: 700px;
  padding: 0 2em;
  margin: 0 auto;
}

#buttons {
  z-index: 2;
  position: fixed;
  display: flex;
}

#buttons .btn {
  opacity: .2;
}
#buttons .btn:hover {
  opacity: .4;
}

@media screen and (max-width: 700px) {
  #notes {
    position: absolute;
    z-index: 100;
    transform: translateX(-250px);
    transition: transform 250ms;
  }

  .shownotes #notes {
    transform: translateX(0px);
  }

  #buttons {
    width: 100%;
    bottom: 0;
    background: rgba(0, 0, 0, .2);
    height: 3em;
    align-items: center;
    padding: 0 1em;
    justify-content: space-between;
  }
}

@media screen and (min-width: 700px) {
  #show-notes { display: none; }
  #buttons {
    height: 100%;
    right: 0;
    width: 2.5em;
    padding-right: 1em;
    margin-top: 1em;
  }
}

#cover {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background: rgba(0, 0, 0, .5);
}

.shownotes #cover {
  display: block;
}

#note {
  background: #2d2d2d;
  overflow: scroll;
  flex-grow: 2;
  display: flex;
  flex-direction: row;
}

#notes ul {
  list-style-type: none;
}

#notes footer {
  cursor: pointer;
  display: block;
  padding: .5em;
  color: white;
  font-size: .85rem;
}

#notes ul a {
  display: block;
  cursor: pointer;
  color: white;
  padding: 15px;
  border-bottom: 1px solid black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#notes-list {
  flex-grow: 2;
}

#notes a.selected,
#notes a:hover {
  background-color: rgba(255, 255, 255, .1)
}

[type=search] {
  background: #1f1f1f;
  font-size: .85rem;
  border: 0px solid #666;
  border-radius: 15px;
  color: #CCC;
  margin: 5px 10px;
  padding: 5px;
  text-indent: 5px;
  flex-grow: 1;
}

#create-note {
  background-image: url(/img/create.svg);
  margin-right: 10px;
}

#create-note:hover {
   opacity: .8;
}

#header {
  display: flex;
  align-items: center;
}

.btn {
  display: block;
  cursor: pointer;
  width: .75em;
  height: .75em;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: .6;
  text-indent: -9999em;
  border: 0;
  color: #CCC;
  font-size: 2em;
  z-index: 50;
  transition: opacity 250ms;
}

.btn:hover {
  opacity: .8;
}

#show-notes {
  background-image: url(/img/home.svg);
}

#delete-note {
  background-image: url(/img/delete.svg);
}

dialog {
  display: none;
  position: fixed;
  border: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .9);
  z-index: 200;
  color: white;
}


dialog form {
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

dialog p {
  margin: 2em 1em;
}

form .buttons {
  display: flex;
  margin-top: 1em;
}

form .buttons input {
  flex-grow: 2;
  background: black;
  padding: 1em;
  font-size: 1em;
  border: 0;
  color: white;
}

input#cancel-btn {
  background: #222;
}
input#sign-in-btn {
  background: green;
}

#email {
  display: block;
  width: 100%;
  background: transparent;
  border: 0;
  border-bottom: 2px solid grey;
  padding: .5em;
  color: grey;
  font-size: 1em;
}

#user #logged-in {
  display: none;
}

#user.logged-in #logged-in {
  display: block;
}
#user.logged-in #sign-in {
  display: none;
}

.CodeMirror {
  background: #2d2d2d !important;
  border: 0 !important;
}
